input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: .5em;
  height: .5em;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  border: none;
  background: none;
  outline: none;
}

input[type=range]:focus {
  outline: none;
  border: none;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #89B76C;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
  background-color: #89B76C;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #89B76C;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

/*blue #284249*/

.range-items {
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.range-item {
  text-align: center;
  color: #284249;
  background-color: #fff;
  border-radius: .25em;
  padding-top: .15em;
  padding-bottom: .05em;
  cursor: pointer;
  width: 4.5em;
  font-weight: bold;
}

.range-selected-item {
  color: #fff;
  background-color: #284249;
  cursor: default;
  position: relative;
}

.range-selected-item:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #284249;
  border-width: .3em;
  margin-left: -0.25em;
}

.range-input {
  padding-left: 1.8em;
  padding-right: 1.7em;
}
